body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Impact, Verdana, sans-serif;
}

.for-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.canvas-container {
    /* height: 60vh; */
    width: 80vw;
    margin: 1rem auto;
}

canvas {
    border: 1px solid darkgray;
}

img {
    width: 100%;
}