* {
    box-sizing: border-box;
}


body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Impact, Verdana, sans-serif;
    color: #222222;
    background-color: var(--off-white);
    margin: 0;
}

button {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
    margin: 0;
}

.for-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    margin: 0 auto;

}

canvas {
    border: 1px solid darkgray;
    cursor: grab;
}

img {
    width: 100%;
}

