* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Impact, Verdana, sans-serif;
}

body {
    text-align: center;
    color: #222222;
    background-color: var(--off-white);
    margin: 0;

    padding-block-end: 2rem;
}

button {
    cursor: pointer;
}

h1,
h2 {
    margin: 0;
}

.for-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    margin: 0 auto;
}

canvas {
    border: 1px solid darkgray;
    cursor: grab;
}

img {
    max-width: 100%;
}

.clear-btn{
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--hot-pink-clear);
    border: 1px solid var(--off-black);
    padding: 0.5rem;
    border-radius: 6px;
    color: var(--off-black);

    transition: background-color 600ms;
}

.clear-btn:hover{
    background-color: var(--hot-pink);
}