.edit {
    
    grid-template-areas:
            "canvas"
            "controls";
    margin: 0 auto;

    display: none;
}

.canvas-container {
    grid-area: canvas;
    justify-self: end;
}

.editor-controls {
    grid-area: controls;
    padding: 1rem;
    grid-template-columns: auto;
    grid-template-rows: max-content;
    grid-auto-flow: dense;
    gap: 0.5rem;

    align-self: center;
}

.editor-controls>* {
    align-self: center;
    justify-self: center;

}

.editor-controls button {
    /* grid-column: 1; */
    text-align: center;
    padding: 0;

    width: 2rem;
    height: 2rem;


}


.color-input {
    opacity: 0;
    width: 100%;
    height: 100%;
}