.gallery {
    user-select: none;
}

.search {
    position: relative;
    align-self: center;
}

#img-filter {
    border: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--off-black);
    background: none;
    width: 10rem;
    font-size: 1rem;
}

button.clear {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0.125rem;
}

.keywords-map {
    grid-column: 2/3;

    align-items: baseline;
    height: 3rem;
}

.keywords-map span {
    margin-inline: 0.3rem;
    cursor: pointer;

    transition: transform 400ms;
}

.keywords-map span:hover {
    transform: translateY(-5%);
}

.gallery button.surprise {
    align-self: center;
}

.upload-img-container {
    align-self: center;
}

.upload-img-container label {
    cursor: pointer;
}

.msg-no-saved {
    grid-column: span 2;
}

.gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1vw;
    grid-auto-flow: dense;
    align-items: center;

    width: 95vw;
    margin: 1rem auto;
}

.img-holder {
    align-self: center;
    width: 100%;
    height: 100%;
}

.img-holder>* {
    border-radius: 5px;
    cursor: pointer;
    transition: transform 500ms;
}

.img-holder>*:hover {
    transform: scale(1.03);
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}