.gallery-container {
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1vw;
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;


    width: 95vw;
    margin: 1rem auto;

    /* display: none; */
}

.gallery button.surprise{
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-inline-start: 2rem;
}

.gallery-container * {
    cursor: pointer;
    transition: transform 500ms;
}
.gallery-container *:hover {
    transform: scale(1.03);
}