header {
   grid-area: header;

    margin: 0;
    background-color: var(--coral);
    
    height: 6rem;
    padding-inline-start: 1rem;
}

.main-nav ul{
    height: 6rem;
}

.main-nav li{
    
    height: 100%;
}

.main-nav button{
    text-align: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    font-size: 1rem;

    background: none;
    border: none;
    cursor: pointer;
}

.main-nav button:hover{
    font-weight: bold;
}