header {
    margin: 0 0 1rem;
    background-color: var(--coral);
    
    height: 6rem;
    padding-inline: 1rem;
}

.main-nav ul{
    gap: 2rem;
}

.main-nav li{
    width: 4rem;
}

.main-nav a{
    text-decoration: none;
    color: inherit;
}

.main-nav a:hover{
    font-weight: bold;
}